.grid {
    width: 400px;
    height: 600px;
    background-color: #023436;
    position: relative;
    font-size: 200px;
    text-align: center;
    color: white;
}

body {
    background-color: #AFF9C9;
}

.doodler {
    width: 60px;
    height: 85px;
    background-color: #D4F4DD;
    position: absolute;
}

.platform {
    width: 85px;
    height: 15px;
    background-color: #E0CA3C;
    position: absolute;
}